<!DOCTYPE html>
<html lang="en">
  <head>
    <.render_meta
      page_title={@page_title}
      page_description={@page_description}
      page_image={@page_image}
      conn={@conn}
    />
    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <script async src="/js/textarea-autoresize.js">
    </script>
    <script async src="/js/script-element.js">
    </script>
  </head>
  <body>
    <h1>Welcome to NostrBackend</h1>
    <p>Your gateway to Nostr content.</p>
  </body>
</html>
