<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link rel="canonical" href={@canonical_url || @meta_url} />

    <title><%= @meta_title %></title>
    <meta name="description" content={@meta_description || "Pareto Project"} />
    <!-- Open Graph -->
    <meta property="og:title" content={@meta_title} />
    <meta property="og:description" content={@meta_description || "Pareto Project"} />
    <meta property="og:image" content={@meta_image} />
    <meta property="og:url" content={@meta_url} />
    <meta property="og:type" content="website" />
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={@meta_title} />
    <meta name="twitter:description" content={@meta_description || "Pareto Project"} />
    <meta name="twitter:image" content={@meta_image} />

    <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-icon-180x180.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/icon/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/images/icon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Atom feed links -->
    <link rel="alternate" type="application/atom+xml" title="Pareto Articles" href="/atom/feed.xml" />
    <link rel="alternate" type="application/atom+xml" title="Pareto English Articles" href="/atom/en_feed.xml" />
    <link rel="alternate" type="application/atom+xml" title="Pareto deutsche Artikel" href="/atom/de_feed.xml" />
    <!-- RSS feed links -->
    <link rel="alternate" type="application/rss+xml" title="Pareto RSS Feed" href="/rss/feed.xml" />
    <link rel="alternate" type="application/rss+xml" title="Pareto English RSS Feed" href="/rss/en_feed.xml" />
    <link rel="alternate" type="application/rss+xml" title="Pareto Deutsche RSS Feed" href="/rss/de_feed.xml" />

    <link rel="stylesheet" type="text/css" href="/styles/styles.css" />
    <script async src="/js/textarea-autoresize.js"></script>
    <script async src="/js/script-element.js"></script>
    <link rel="stylesheet" crossorigin href={NostrBackendWeb.FrontendAssets.css_file()} />
    <script type="module" crossorigin src={NostrBackendWeb.FrontendAssets.js_file()}>
    </script>
  </head>
  <body class="bg-white">
    <%= @inner_content %>
  </body>
</html>
